.filter {
    background-color: black;
    display: block;
    position: fixed;
    min-height: $filterOffset;
    top: 0;
    z-index: 10;
    width: 100%;

    &__menu {
        margin: 0;
        padding: 0;
    }

    &__item {
        border-right: 1px solid white;
        &:last-child {
            border-right: none;
        }
        &__link {
            color: white;

            &:hover, &--selected {
                color: $colourPrimary;
            }

            &--selected {
                background: url('/images/selected.svg') no-repeat right 1.25rem center/20px 20px;
                padding-right: 2rem;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        &__menu {
            position: absolute;
            transition: transform .6s ease-in-out;
            top: 3rem;
        }

        &--open {
            .filter__item {
                top: 3rem;
                height: auto;
            }
            transform-origin: top;
            padding: 1rem 0;
            position: absolute;
            top: $filterOffset;
            width: 100%;
            background: black;
        }
        &--closed {
            transform: scaleY(0);
        }

        &__item {
            overflow:hidden;
            height:0;
            -webkit-transition:height 200ms ease-in;
            -moz-transition:height 200ms ease-in;
            -o-transition:height 200ms ease-in;
            transition:height 200ms ease-in;
        }

    }

    &__button {
        border: none;
        background: none;
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        z-index: 20;

        &__logo {
            height: 1rem;
            width: 1rem;
        }
    }

    &__item {
        text-align: center;

        &__link {
            padding: 0.75rem 0;
            display: block;
        }
    }

    @media only screen and (min-width: 769px) {
        &__menu {
            display: block;
        }

        &__button {
            display: none;
        }

        &__item {
            display: inline-block;
            text-align: center;
            width: 33.333%;

            &__link {
                display: inline-block;
                line-height: 1rem;
                padding: 1rem 0;
                width: 100%;
            }
        }
    }
}
