.grid {
    margin-top: $filterOffset * 1.5;
}

.loader {
    height: $loaderSize;
    margin: 0 auto 1rem auto;
    width: $loaderSize;

    &--show {
        display: block;
    }
    &--hide {
        display: none;
    }
}
