.card {
    .card-columns & {
        padding: 1rem;
        margin: 1.5rem 0 2.5rem 0;

        @media only screen and (min-width: $beakpointMobile) {
            margin-bottom: 0.75rem;
        }
    }

    &__avatar {
        background-color: black;
        border-radius: 5px;
        left: 1.5rem;
        padding: 0.5rem;
        position: absolute;
        top: -1.5rem;
        
        &--primary {
            background-color: $colourPrimary;
        }

        &__img {
            height: $logoSize;
            width: $logoSize;
        }
    }

    &__username {
        color: $titleColour;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 1rem 0 0;
    }

    &__image {
        max-width: 100%;
    }

    &__text {
        color: $textColour;
        margin: 1rem 0 0;
    }

    &__link {
        margin-top: 0.5rem;
        &, &:hover {
            color: $colourPrimary;
        }
    }

    &--tweet {
        text-align: center;
    }

    &__timestamp {
        color: $textColour;
        font-size: 0.8rem;
        margin: 0.5rem  0 0 0;
        text-align: right;
    }
}