@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import './custom';

// global styles
body {
    font-family: 'Open Sans';
    letter-spacing: 0.02rem;
}

.button {
    width: 30%;
    &--center {
        margin: 0 auto 1rem auto;
    }
}
.sr-only {
    position: absolute;
    right: 999999px;
}